<dialog id = "dialog" 
        class = "m-auto rounded-sm bg-gray-300 dark:bg-gray-800 py-8 px-4 opacity-0 transition-all transition-discrete 
                duration-300 ease-in-out text-gray-800 dark:text-white open:backdrop:bg-gray-200 dark:open:backdrop:bg-gray-800 
                open:backdrop:opacity-75 dark:open:backdrop:opacity-75 open:opacity-100  starting:open:opacity-0 
                starting:open:backdrop:bg-transparent backdrop:bg-transparent backdrop:transition-all backdrop:duration-300"
>
    <h2 id="modal-title" class = "max-w-[80ch] capitalize" ></h2>
    <p id="modal-content" class = "max-w-[80ch]"></p>
    <div id="buttons-wrapper" class="">
        <div id="modal-buttons" class="contents"></div>
        <button id="modal-close"
                class = "block w-full shadow-sm border-transparent rounded-md border p-2 
                        mt-4 mb-2 hover:cursor-pointer bg-gray-200 hover:bg-gray-300 
                        text-gray-800 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-100 
                        text-center capitalize"
        >
            Close
        </button>
    </div>
</dialog>