<header>
    <div class="flex place-content-between w-full px-16 py-4">
        <div class="w-24 h-auto">
            <a href="{{ path('client_home_page') }}">
                <img class="w-full h-auto"src="{{ asset('images/shop_logo.png') }}" alt="logo">
            </a>
        </div>
        <nav>

        </nav>
        <div>

        </div>
    </div>
</header>